<div class="modal-header">
  <h5 class="modal-title">{{ partei.nameLang }}</h5>
  <button type="button" class="btn-close float-end" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body">

  <img class="img-thumbnail me-3 float-start partei-thumbnail" [src]="getParteiLogoUrl()">

  <p>"{{ partei.beschreibung }}"</p>

  <span *ngIf="partei.internetadresse">
      Mehr Informationen unter:
      <a [href]="getParteiHref()" target="_blank">{{ partei.internetadresse }}</a>
    </span>

  <div class="list-group list-group-flush mt-3">
    <div *ngFor="let theseEingabe of theseEingaben; let index = index" class="list-group-item px-0">
      <strong>These {{ index + 1 }}/{{ theseEingaben.length }}</strong><br>
      <p>{{ theseEingabe.these.text }}</p>
      <span class="text-muted small">{{ partei.nameKurz }}:</span>
      <fa-icon *ngIf="partei.thesen[index] === 'ja'" class="text-success ms-2" [icon]="faSmile"></fa-icon>
      <fa-icon *ngIf="partei.thesen[index] === 'neutral'" class="text-warning ms-2" [icon]="faMeh"></fa-icon>
      <fa-icon *ngIf="partei.thesen[index] === 'nein'" class="text-danger ms-2" [icon]="faFrown"></fa-icon>
      <span class="text-muted small ms-3">Deine Wertung: {{ theseEingabe.wertung }}</span>
      <fa-icon *ngIf="theseEingabe.wertung === 'ja'" class="text-success ms-2" [icon]="faSmile"></fa-icon>
      <fa-icon *ngIf="theseEingabe.wertung === 'neutral'" class="text-warning ms-2" [icon]="faMeh"></fa-icon>
      <fa-icon *ngIf="theseEingabe.wertung === 'nein'" class="text-danger ms-2" [icon]="faFrown"></fa-icon>
      <span *ngIf="theseEingabe.wertung === 'ohne'" class="text-muted ms-2">-</span>
      <fa-icon
        *ngIf="theseEingabe.doppeltGewertet && theseEingabe.wertung !== 'ohne'"
        class="text-muted ms-2"
        [icon]="faHeart"
      ></fa-icon>
    </div>
  </div>

</div>
