<div class="modal-header">
    <h5 class="modal-title pull-left">{{ partei.nameLang }}</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body">

    <img class="img-thumbnail mr-3 float-left" style="width: 50px; height: 50px;" [src]="'assets/' + wahl + '/img/' + partei.logo">

    <p>"{{ partei.beschreibung }}"</p>

    <span *ngIf="partei && partei.internetadresse">Mehr Informationen unter: <a [href]="partei.internetadresse.startsWith('http://') || partei.internetadresse.startsWith('https://') ? partei.internetadresse : 'http://' + partei.internetadresse" target="_blank">{{ partei.internetadresse }}</a></span>

    <div class="list-group list-group-flush mt-3">
        <div *ngFor="let these of thesen; let index = index" class="list-group-item px-0">
            <strong>These {{ index+1 }}/{{ thesen.length }}</strong><br>
            <p>{{ these.text }}</p>
            <span class="text-muted small">{{ partei.nameKurz }}:</span>
            <fa-icon *ngIf="these.wertungPartei === 'ja'" class="text-success ml-2" [icon]="['far', 'smile']"></fa-icon>
            <fa-icon *ngIf="these.wertungPartei === 'neutral'" class="text-warning ml-2" [icon]="['far', 'meh']"></fa-icon>
            <fa-icon *ngIf="these.wertungPartei === 'nein'" class="text-danger ml-2" [icon]="['far', 'frown']"></fa-icon>
            <span class="text-muted small ml-3">Deine Wertung:</span>
            <fa-icon *ngIf="these.wertung === 'ja'" class="text-success ml-2" [icon]="['far', 'smile']"></fa-icon>
            <fa-icon *ngIf="these.wertung === 'neutral'" class="text-warning ml-2" [icon]="['far', 'meh']"></fa-icon>
            <fa-icon *ngIf="these.wertung === 'nein'" class="text-danger ml-2" [icon]="['far', 'frown']"></fa-icon>
            <span *ngIf="these.wertung === 'ohne'" class="text-muted ml-2">-</span>
            <fa-icon *ngIf="these.doppeltGewertet && these.wertung !== 'ohne'" class="text-muted ml-2" [icon]="['fas', 'heart']"></fa-icon>
        </div>
    </div>

</div>
