<div class="py-3 py-md-5">

  <div class="mb-3">
    <a class="icon-link" [routerLink]="'/'">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      Zurück zur Startseite
    </a>
  </div>

  <h5>Was ist der MAGD-O-MAT?</h5>
  <p>
    Der <a href="http://www.bpb.de/politik/wahlen/wahl-o-mat/" target="_blank">Wahl-O-Mat</a> ist ein Projekt der
    Bundes- und Landeszentralen für politische Bildung und ist von diesen geschützt. Das <a
    href="https://codefor.de/magdeburg/" target="_blank">Open Knowledge Lab Magdeburg</a> beim <a
    href="http://www.netz39.de" target="_blank">Netz39 e.V.</a> hat deshalb den Thesen-Check für Magdeburg entwickelt.
    Dieser ist in Funktionsweise und Aufbau an den Wahl-O-Maten angelehnt.
  </p>
  <p>
    Das Funktionieren unserer Demokratie liegt uns sehr am Herzen. Deshalb wollen wir unseren Teil dazu beitragen: Mit
    dem MAGD-O-MAT wollen wir Menschen jeden Alters dazu motivieren, differenziert darüber nachzudenken, welche Parteien
    am ehesten die eigenen Positionen vertreten.
  </p>
  <p>
    Wir fordern alle Wahlberechtigten in Magdeburg dazu auf, wählen zu gehen, damit die neue Stadtregierung ihre
    Legitimation von einem möglichst großen Teil der Bevölkerung bekommt.
  </p>

  <h5>Wie soll ich abstimmen, wenn ich einer These nur teilweise oder unter bestimmten Umständen zustimmen würde?</h5>
  <p>
    Falls Du einer These nur teilweise oder unter bestimmten Umständen zustimmen würdest, antworte mit "neutral".
  </p>

  <h5>Wie soll ich abstimmen, wenn ich zu einer These nichts sagen möchte?</h5>
  <p>
    Falls Du zu einer These nichts sagen möchtest, wähle "These überspringen". Deine Antwort wird dann nicht mit den
    Antworten der Parteien auf diese These abgeglichen. Die These fällt nicht mit in die Bewertung.
  </p>

  <h5>Muss ich die Partei wählen, mit der ich die stärkste Übereinstimmung erziele?</h5>
  <p>
    Nein! Der MAGD-O-MAT bietet lediglich eine erste Orientierung. Wir wollen dazu motivieren, wählen zu gehen. Das
    Ergebnis beim Thesen-Check dient nicht als konkrete Wahlempfehlung. Falls Du unentschlossen bist, wen Du wählen
    möchtest, informiere Dich weiter, lies die Wahlprogramme, besuche Veranstaltungen der Parteien und verfolge die
    Debatten der Stadtpolitik in der Presse.
  </p>

  <h5>Wie werden die Punkte berechnet?</h5>
  <p>
    Der MAGD-O-MAT orientiert sich in seiner Funktionsweise am Wahl-O-Mat der Bundeszentrale für politische Bildung
    (bpb). Er verwendet daher denselben Algorithmus für die Bestimmung der Prozentwerte. Eine Erläuterung der
    Berechnungsvorschrift hat die bpb in <a href="/assets/Rechenmodell_des_Wahl-O-Mat.pdf">diesem PDF-Dokument</a>
    zusammengefasst.
  </p>

  <h5>Wann und wo wird gewählt?</h5>
  <p>
    Die Kommunalwahl in Magdeburg findet am 26. Mai 2019 von 8 bis 18 Uhr statt. Wo ihr jeweiliges Wahllokal ist,
    erfahren alle wahlberechtigten Magdeburger*innen in der Wahlbenachrichtigung per Post.
  </p>
  <p>
    Übrigens kannst Du Dich bei der Durchführung der Wahl einbringen. Es werden
    <a href="https://www.magdeburg.de/Start/B%C3%BCrger-Stadt/Stadt/Wahlen" target="_blank">Wahlhelfer gesucht</a>!
  </p>

  <h5>Wer wird eigentlich gewählt?</h5>
  <p>
    Zur Wahl stehen Sitze im Magdeburger Stadtrat. Auf der
    <a href="https://www.magdeburg.de/Start/B%C3%BCrger-Stadt/Kommunalpolitik/Stadtrat-Fraktionen" target="_blank">
      Homepage der Stadt</a> erfährst Du mehr über die aktuelle Aufteilung des Stadtrates.
  </p>

</div>
