<div class="py-3 py-md-5">

    <div class="mb-3">
        <a class="btn btn-link" [routerLink]="'/'"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon> Zurück zur Startseite</a>
    </div>

    <h5>Was ist der Magd-O-Mat?</h5>
    <p>Der <a href="http://www.bpb.de/politik/wahlen/wahl-o-mat/" target="_blank">Wahl-O-Mat</a> ist ein Projekt der Bundes- und Landeszentralen für politische Bildung und ist von diesen geschützt. Das <a href="https://codefor.de/magdeburg/" target="_blank">Open Knowledge Lab Magdeburg</a> hat deshalb den Thesen-Check für Magdeburg entwickelt, der von der Funktionsweise und vom Aufbau wie der Wahl-O-Mat funktioniert.</p>
    <p>Das Funktionieren unserer Demokratie liegt uns sehr am Herzen. Das Open Knowledge Lab Magdeburg will seinen Teil dazu beitragen: Mit dem Magd-O-Mat wollen wir Menschen jeden Alters dazu motivieren, differenziert darüber nachzudenken, welche Parteien am ehesten die eigenen Positionen vertreten. Wir fordern zudem alle Wahlberechtigten in Magdeburg dazu auf, wählen zu gehen, damit die neue Stadtregierung ihre Legitimation von einem möglichst großen Teil der Bevölkerung bekommt.</p>

    <h5>Wie und von wem ist der Magd-O-Mat entwickelt worden? Sind die Parteien daran beteiligt gewesen?</h5>
    <!--<p>Der Magd-O-Mat wurde von den Mitgliedern des Open Knowledge Lab Magdeburg erarbeitet. Die Thesen wurden über ein Partizipationsverfahren von Bürgerinnen und Bürgern Magdeburgs und verschiedener Interessenverbänden vorgeschlagen. Eine Jury bestehend aus Mitgliedern des Open Knowledge Labs Magdeburg hat aus diesen Vorschlägen die finale Auswahl getroffen. Diese resultierenden Thesen bilden dabei die Vielfalt an Positionen in der Kommunalpolitik ab. Die Parteien hatten keinen Einfluss auf die Thesen. Den Parteien wurden die Thesen vorgelegt und sie wurden aufgefordert, sich dazu zu positionieren. Die Stellungnahmen zu den Thesen sowie die "Schwerpunkte" kommen direkt von den Parteien.</p>-->
    <p>Der Magd-O-Mat wurde von den Mitgliedern des Open Knowledge Lab Magdeburg erarbeitet.</p>
    <p>Über die Konzeption und Umsetzung der Webseite selbst erfahren Sie im <a [routerLink]="'/impressum'">Impressum</a>.</p>

    <h5>Wieso kommen manche Themen im Magd-O-Mat nicht zur Sprache?</h5>
    <p>Bei der Auswahl der Thesen hat sich die Projektgruppe an aktuellen Debatten in der Stadtpolitik und den Wahlprogrammen der Parteien orientiert. Es ist nicht möglich, sämtliche Themen abzudecken. Zudem wurden zur besseren Differenzierung Thesen weggelassen, bei denen es zu zu großen Übereinstimmungen aller Parteien kam.</p>

    <h5>Muss ich die Partei wählen, mit der ich die stärkste Übereinstimmung erziele?</h5>
    <p>Nein! Der Magd-O-Mat bietet eine erste Orientierung. Wir wollen dazu motivieren, wählen zu gehen. Das Ergebnis beim Thesen-Check dient nicht als konkrete Wahlempfehlung. Falls Sie unentschlossen sind, wen Sie wählen möchten, informieren Sie sich weiter, lesen Sie Wahlprogramme, besuchen Sie Veranstaltungen der Parteien und verfolgen Sie die Debatten der Stadtpolitik in der Presse.</p>

    <h5>Wie soll ich abstimmen, wenn ich einer These nur teilweise oder unter bestimmten Umständen zustimmen würde?</h5>
    <p>Falls Sie einer These nur teilweise oder unter bestimmten Umständen zustimmen würden, antworten Sie  mit "neutral".</p>

    <h5>Wie soll ich abstimmen, wenn ich zu einer These nichts sagen möchte?</h5>
    <p>Falls Sie zu einer These nichts sagen möchten, wählen Sie "These überspringen". Ihre Antwort wird dann nicht mit den Antworten der Parteien auf diese These abgeglichen. Die These fällt nicht mit in die Bewertung.</p>

    <h5>Wer wird gewählt?</h5>
    <p>Zur Wahl stehen Sitze im Stadtrat in Magdeburg. Auf der <a href="https://www.magdeburg.de/Start/B%C3%BCrger-Stadt/Kommunalpolitik/Stadtrat-Fraktionen" target="_blank">Homepage der Stadt</a> erfahren Sie mehr über die aktuelle Aufteilung des Stadtrates.</p>

    <h5>Wann und wo wird gewählt?</h5>
    <p>Die Kommunalwahl in Magdeburg findet am 26. Mai 2019 von 8 bis 18 Uhr statt. Wo ihr jeweiliges Wahllokal ist, erfahren alle wahlberechtigten Magdeburger*innen in der Wahlbenachrichtigung per Post. Übrigens können Sie sich ja vielleicht bei der Durchführung der Wahl einbringen. Es werden <a href="https://www.magdeburg.de/Start/B%C3%BCrger-Stadt/Stadt/Wahlen" target="_blank">Wahlhelfer gesucht</a>!</p>

    <h5>Wie kann ich das Projekt bzw. das Open Knowledge Lab Magdeburg unterstützen?</h5>
    <p>Sie können die Webseite <a href="https://www.magdeburg-waehlt.de">www.magdeburg-waehlt.de</a> bzw. das Projekt bewerben, indem Sie zum Beispiel darüber berichten oder den Link zur Webseite mit der Familie und Freunden oder auf sozialen Netzwerken teilen.</p>
    <p>
        Das Open Knowledge Lab Magdeburg ist Teil des <a href="http://www.netz39.de" target="_blank">Netz39 e.V. - Hackerspace Magdeburg</a>. Es ist für Projekte wie diese auf externe Finanzierungsquellen angewiesen. Daher freuen wir uns sehr über Spenden. Als anerkannter, gemeinnütziger Verein kann der Netz39 e.V. Spendenquittungen ausstellen. Bitte tragen Sie dafür bei der Überweisung einfach Ihre Adresse im Verwendungszweck ein.<br>
        <br>
        Spendenkonto:<br>
        <br>
        Kontoinhaber: Netz39 e.V.<br>
        IBAN: DE71 8109 3274 0001 4424 81<br>
        BIC: GENODEF1MD1<br>
        Verwendungszweck: "Spende OKLab Magdeburg"
    </p>

    <h5>Kann ich den Quelltext einsehen?</h5>
    <p>Natürlich. Der Code des Magd-O-Mat steht unter der <a href="" target="_blank">GNU General Public License v3.0</a> und ist auf <a href="https://github.com/code-for-magdeburg/Magd-O-Mat" target="_blank">Github</a> verfügbar.</p>

</div>
