<div class="text-center py-3 py-md-5">

  <div *ngIf="showTeaser" class="card shadow mx-1 my-5">
    <div class="card-body">
      <h2 class="text-black-50">Hier startet in Kürze der Wahl-O-Mat für die Kommunalwahl von Magdeburg 2019.</h2>
    </div>
  </div>

  <div *ngIf="!showTeaser" class="mx-1 mt-3">
    <h5 class="text-center mb-3">Willkommen beim MAGD-O-MAT, dem Thesen-Check zur Magdeburger Kommunalwahl 2019!</h5>
    <ol class="ps-3 mt-1 text-start">
      <li>Lies Dir die folgenden Thesen durch und entscheide, ob Du zustimmst, neutral bist, oder nicht zustimmst.</li>
      <li>Schau Dir an, wie die Positionen der Parteien und Wählergemeinschaften zu den Thesen sind.</li>
      <li>Schau Dir die Wahlprogramme an oder sprich die Kandidierenden direkt an, um sie besser kennen zu lernen.</li>
      <li>
        Geh am 26. Mai wählen! Du kannst auch per Brief abstimmen. Check Deine Wahlbenachrichtung für weitere
        Informationen.
      </li>
    </ol>
  </div>

  <a *ngIf="!showTeaser" [routerLink]="'/thesen-check'" class="btn btn-primary w-100 btn-lg mt-3">
    <fa-icon [icon]="faHandPointRight" class="me-3"></fa-icon>
    Thesen-Check starten
    <fa-icon [icon]="faHandPointLeft" class="ms-3"></fa-icon>
  </a>

</div>

<div class="text-center mt-5">
  <h6 class="text-center mb-3 text-muted">Unsere Unterstützer*innen:</h6>
  <div class="bg-white d-flex flex-wrap justify-content-center gap-3 gap-md-5">
    <a href="http://www.netz39.de/" target="_blank">
      <img src="/assets/img/Logo-Netz39_BW.png" class="unterstuetzer-logo">
    </a>
    <a href="https://codefor.de/magdeburg" target="_blank">
      <img src="/assets/img/Logo-CodeForDE_BW.jpg" class="unterstuetzer-logo">
    </a>
<!--    <a href="https://miteinander-ev.de/" target="_blank">-->
<!--      <img src="/assets/img/Logo-Miteinander_BW.png" class="unterstuetzer-logo">-->
<!--    </a>-->
<!--    <a href="https://www.magdeburg.de/" target="_blank">-->
<!--      <img src="/assets/img/Logo-OttoLebtDemokratie.jpg" class="unterstuetzer-logo">-->
<!--    </a>-->
<!--    <a href="https://www.demokratie-leben.de/" target="_blank">-->
<!--      <img src="/assets/img/Logo-BMFSFJ_DL.jpg" class="unterstuetzer-logo">-->
<!--    </a>-->
  </div>
</div>
