.btn-outline-success:hover {
    color: #28a745;
    background-color: transparent;
}

.btn-outline-success:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-outline-warning:hover {
    color: #ffc107;
    background-color: transparent;
}

.btn-outline-warning:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-outline-danger:hover {
    color: #dc3545;
    background-color: transparent;
}

.btn-outline-danger:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
