<div class="py-3 py-md-5">

  <div *ngIf="modus === 'Eingabe'">

    <div class="text-md-center text-muted mb-3">
      <p>
        Der MAGD-O-MAT ist keine Wahlempfehlung, sondern ein Informationsangebot. Erfahre mehr auf der
        <a [routerLink]="'/hilfe'">Hilfeseite</a>.
      </p>
    </div>

    <div class="my-3 d-none d-md-block">
      <div class="btn-group" role="group">
        <button
          *ngFor="let these of thesen; let index = index"
          type="button"
          class="btn btn-sm btn-light"
          (click)="waehleThese(index)"
          [class.btn-light]="index > aktuelleTheseIndex"
          [class.btn-primary]="index <= aktuelleTheseIndex"
        >
          {{ index + 1 }}
        </button>
      </div>
    </div>

    <ng-container *ngIf="aktuelleTheseIndex > -1">

      <div class="card">
        <div class="card-body">
          <button
            type="button"
            class="card-link btn btn-link icon-link btn-sm p-0 d-md-none mb-3"
            [disabled]="aktuelleTheseIndex <= 0"
            (click)="zurueck()"
          >
            <fa-icon [icon]="faArrowLeft"></fa-icon>
            Zurück
          </button>
          <button type="button" class="card-link btn btn-link btn-sm p-0 float-end" (click)="ueberspringen()">
            These überspringen
          </button>
          <h6 class="card-title mb-3 text-muted">These {{ aktuelleTheseIndex + 1 }}/{{ thesen.length }}</h6>
          <h5 class="card-text m-3 m-md-5 text-center">{{ thesen[aktuelleTheseIndex].text }}</h5>
          <button
            type="button"
            class="btn btn-sm icon-link"
            [class.btn-light]="!thesenEingaben[aktuelleTheseIndex].doppeltGewertet"
            [class.btn-dark]="thesenEingaben[aktuelleTheseIndex].doppeltGewertet"
            [(ngModel)]="thesenEingaben[aktuelleTheseIndex].doppeltGewertet"
            btnCheckbox
          >
            <fa-icon [icon]="thesenEingaben[aktuelleTheseIndex].doppeltGewertet ? fasHeart : farHeart"></fa-icon>
            {{ thesenEingaben[aktuelleTheseIndex].doppeltGewertet ? 'Doppelt gewertet' : 'Doppelt werten' }}
          </button>
        </div>
      </div>

      <div class="row my-3">

        <div class="col">
          <button
            type="button"
            class="btn btn-lg w-100"
            [class.btn-outline-success]="thesenEingaben[aktuelleTheseIndex].wertung !== 'ja'"
            [class.btn-success]="thesenEingaben[aktuelleTheseIndex].wertung === 'ja'"
            (click)="stimmeJa()"
          >
            <fa-icon [icon]="faSmile" size="2x"></fa-icon>
          </button>
          <small class="d-block text-center">Stimme zu</small>
        </div>

        <div class="col">
          <button
            type="button"
            class="btn btn-lg w-100"
            [class.btn-outline-warning]="thesenEingaben[aktuelleTheseIndex].wertung !== 'neutral'"
            [class.btn-warning]="thesenEingaben[aktuelleTheseIndex].wertung === 'neutral'"
            (click)="stimmeEgal()"
          >
            <fa-icon [icon]="faMeh" size="2x"></fa-icon>
          </button>
          <small class="d-block text-center">Neutral</small>
        </div>

        <div class="col">
          <button
            type="button"
            class="btn btn-lg w-100"
            [class.btn-outline-danger]="thesenEingaben[aktuelleTheseIndex].wertung !== 'nein'"
            [class.btn-danger]="thesenEingaben[aktuelleTheseIndex].wertung === 'nein'"
            (click)="stimmeNein()"
          >
            <fa-icon [icon]="faFrown" size="2x"></fa-icon>
          </button>
          <small class="d-block text-center">Stimme nicht zu</small>
        </div>

      </div>

      <button type="button" class="btn btn-light btn-sm mt-3 icon-link" (click)="neustart()">
        <fa-icon [icon]="faRedo"></fa-icon>
        Thesen-Check neu starten
      </button>

    </ng-container>

  </div>

  <div *ngIf="modus === 'Auswertung'">

    <div class="text-md-center text-muted mb-3">
      <p>
        Um die Schwerpunkte der Parteien einzublenden, klicke auf die entsprechenden Einträge. Die einzelnen Positionen
        der Parteien findest Du unter der Auswertungstabelle.
      </p>
      <p>
        Der MAGD-O-MAT ist keine Wahlempfehlung, sondern ein Informationsangebot. Erfahre mehr auf der
        <a [routerLink]="'/hilfe'">Hilfeseite</a>.
      </p>
    </div>

    <button type="button" class="btn btn-outline-primary icon-link mb-3" (click)="neustart()">
      <fa-icon [icon]="faRedo"></fa-icon>
      Thesen-Check neu starten
    </button>

    <div class="list-group list-group-flush d-none d-md-block">
      <div
        *ngFor="let ergebnisPartei of ergebnisseParteien"
        class="list-group-item list-group-item-action d-flex flex-row px-0"
        (click)="zeigePartei(ergebnisPartei.partei)">
        <img
          class="img-thumbnail float-start partei-thumbnail"
          [src]="'assets/' + wahl + '/img/' + ergebnisPartei.partei.logo"
        >
        <div class="container-fluid">
          <h5 class="float-start mt-3">{{ ergebnisPartei.partei.nameLang }}</h5>
          <h1 class="text-end">{{ ergebnisPartei.prozent | percent:'1.1-1':'de' }}</h1>
          <progressbar class="m-0" [max]="1" [value]="ergebnisPartei.prozent" [animate]="true"></progressbar>
        </div>
      </div>
    </div>

    <div class="list-group list-group-flush d-sm-block d-md-none">
      <div
        *ngFor="let ergebnisPartei of ergebnisseParteien"
        class="list-group-item list-group-item-action d-flex flex-row px-0"
        (click)="zeigePartei(ergebnisPartei.partei)">
        <img
          class="img-thumbnail partei-thumbnail"
          [src]="'assets/' + wahl + '/img/' + ergebnisPartei.partei.logo"
        >
        <div class="container-fluid">
          <h5 class="float-start">{{ ergebnisPartei.partei.nameKurz }}</h5>
          <h5 class="text-end">{{ ergebnisPartei.prozent | percent:'1.1-1':'de' }}</h5>
          <progressbar class="m-0" [max]="1" [value]="ergebnisPartei.prozent" [animate]="true"></progressbar>
        </div>
      </div>
    </div>

    <div class="list-group mt-5 mb-3">
      <div
        *ngFor="let theseEingabe of thesenEingaben; let index = index;"
        class="list-group-item list-group-item-action d-flex"
        (click)="zeigeThese(thesen[index], theseEingabe)"
      >

        <div class="flex-fill">
          <strong>These {{ index + 1 }}/{{ thesen.length }}
            <fa-icon *ngIf="theseEingabe.doppeltGewertet && theseEingabe.wertung !== 'ohne'" [icon]="fasHeart"></fa-icon>
          </strong><br>
          {{ thesen[index].text }}
        </div>

        <fa-icon
          *ngIf="theseEingabe.wertung === 'ja'"
          class="align-self-center text-success ms-3"
          [icon]="faSmile"
          size="2x"
        ></fa-icon>
        <fa-icon
          *ngIf="theseEingabe.wertung === 'neutral'"
          class="align-self-center text-warning ms-3"
          [icon]="faMeh"
          size="2x"
        ></fa-icon>
        <fa-icon
          *ngIf="theseEingabe.wertung === 'nein'"
          class="align-self-center text-danger ms-3"
          [icon]="faFrown"
          size="2x"
        ></fa-icon>

      </div>
    </div>

    <div class="text-muted my-5">
      <p>
        Eine Übersicht mit den Antworten aller Parteien auf die MAGD-O-MAT-Thesen findest du hier als
        <a [href]="'/assets/' + wahl + '/Alle_Positionen.pdf'">
          PDF
          <fa-icon [icon]="faFilePdf"></fa-icon>
        </a>.
      </p>
    </div>

    <button type="button" class="btn btn-outline-primary icon-link" (click)="neustart()">
      <fa-icon [icon]="faRedo"></fa-icon>
      Thesen-Check neu starten
    </button>

  </div>

</div>
