<div class="py-3 py-md-5">

    <div *ngIf="modus === 'Eingabe'" >

        <div class="text-md-center text-muted mb-3">
            <p>Der MAGD-O-MAT ist keine Wahlempfehlung, sondern ein Informationsangebot. Erfahren Sie mehr auf der <a [routerLink]="'/hilfe'">Hilfeseite</a>.</p>
        </div>

        <div class="my-3 d-none d-md-block">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button *ngFor="let these of thesen; let index = index" type="button" class="btn btn-sm btn-light" (click)="waehleThese(index)" [class.btn-light]="index > aktuelleTheseIndex" [class.btn-primary]="index <= aktuelleTheseIndex">{{index+1}}</button>
            </div>
        </div>

        <div *ngIf="aktuelleThese" class="card">
            <div class="card-body">
                <div class="d-none">
                    <button type="button" class="card-link btn btn-link btn-sm p-0" (click)="ueberspringen()">Zurück</button>
                    <button type="button" class="card-link btn btn-link btn-sm p-0 float-right" (click)="ueberspringen()">These überspringen</button>
                </div>
                <button type="button" class="card-link btn btn-link btn-sm p-0 d-md-none mb-3" [disabled]="aktuelleTheseIndex <= 0" (click)="zurueck()"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon> Zurück</button>
                <button type="button" class="card-link btn btn-link btn-sm p-0 float-right" (click)="ueberspringen()">These überspringen</button>
                <h6 class="card-title mb-3 text-muted">These {{ aktuelleTheseIndex+1 }}/{{ thesen.length }}</h6>
                <h5 class="card-text m-3 m-md-5">{{ aktuelleThese.text }}</h5>
                <button type="button" class="btn btn-sm" [class.btn-light]="!aktuelleThese.doppeltGewertet" [class.btn-dark]="aktuelleThese.doppeltGewertet" [(ngModel)]="aktuelleThese.doppeltGewertet" btnCheckbox><fa-icon [icon]="[aktuelleThese.doppeltGewertet ? 'fas' : 'far', 'heart']"></fa-icon> {{ aktuelleThese.doppeltGewertet ? 'Doppelt gewertet' : 'Doppelt werten' }}</button>
            </div>
        </div>

        <div *ngIf="aktuelleThese" class="row my-3">

            <div class="col">
                <button type="button" class="btn btn-lg btn-block" [class.btn-outline-success]="!aktuelleThese.gewertet || aktuelleThese.wertung !== 'ja'" [class.btn-success]="aktuelleThese.gewertet && aktuelleThese.wertung === 'ja'" (click)="stimmeJa()"><fa-icon [icon]="['far', 'smile']" size="2x"></fa-icon></button>
                <small class="d-block text-center">Stimme zu</small>
            </div>

            <div class="col">
                <button type="button" class="btn btn-lg btn-block" [class.btn-outline-warning]="!aktuelleThese.gewertet || aktuelleThese.wertung !== 'neutral'" [class.btn-warning]="aktuelleThese.gewertet && aktuelleThese.wertung === 'neutral'" (click)="stimmeEgal()"><fa-icon [icon]="['far', 'meh']" size="2x"></fa-icon></button>
                <small class="d-block text-center">Neutral</small>
            </div>

            <div class="col">
                <button type="button" class="btn btn-lg btn-block" [class.btn-outline-danger]="!aktuelleThese.gewertet || aktuelleThese.wertung !== 'nein'" [class.btn-danger]="aktuelleThese.gewertet && aktuelleThese.wertung === 'nein'" (click)="stimmeNein()"><fa-icon [icon]="['far', 'frown']" size="2x"></fa-icon></button>
                <small class="d-block text-center">Stimme nicht zu</small>
            </div>

        </div>

        <button type="button" class="btn btn-light btn-sm mt-3" (click)="neustart()"><fa-icon [icon]="['fas', 'redo']"></fa-icon> Thesen-Check neu starten</button>

    </div>

    <div *ngIf="modus === 'Auswertung'">

        <div class="text-md-center text-muted mb-3">
            <p>Um die Schwerpunkte der Parteien einzublenden, klicken Sie auf die entsprechenden Einträge. Die einzelnen Positionen der Parteien finden Sie unter der Auswertungstabelle.</p>
            <p>Der MAGD-O-MAT ist keine Wahlempfehlung, sondern ein Informationsangebot. Erfahren Sie mehr auf der <a [routerLink]="'/hilfe'">Hilfeseite</a>.</p>
        </div>

        <button type="button" class="btn btn-outline-primary mb-3" (click)="neustart()"><fa-icon [icon]="['fas', 'redo']"></fa-icon> Thesen-Check neu starten</button>

        <div class="list-group list-group-flush d-none d-md-block">
            <div *ngFor="let ergebnisPartei of ergebnisseParteien" class="list-group-item list-group-item-action d-flex flex-row px-0" (click)="zeigePartei(ergebnisPartei.partei)">
                <img class="img-thumbnail float-left" style="width: 100px; height: 100px;" [src]="'assets/' + wahl + '/img/' + ergebnisPartei.partei.logo">
                <div class="container-fluid">
                    <h5 class="float-left mt-3">{{ ergebnisPartei.partei.nameLang }}</h5>
                    <h1 class="text-right">{{ ergebnisPartei.prozent | percent:'1.1-1':'de' }}</h1>
                    <progressbar class="m-0" max="1" [value]="ergebnisPartei.prozent" [animate]="true"></progressbar>
                </div>
            </div>
        </div>

        <div class="list-group list-group-flush d-sm-block d-md-none">
            <div *ngFor="let ergebnisPartei of ergebnisseParteien" class="list-group-item list-group-item-action d-flex flex-row px-0" (click)="zeigePartei(ergebnisPartei.partei)">
                <img class="img-thumbnail" style="width: 50px; height: 50px;" [src]="'assets/' + wahl + '/img/' + ergebnisPartei.partei.logo">
                <div class="container-fluid">
                    <h5 class="float-left">{{ ergebnisPartei.partei.nameKurz }}</h5>
                    <h5 class="text-right">{{ ergebnisPartei.prozent | percent:'1.1-1':'de' }}</h5>
                    <progressbar class="m-0" max="1" [value]="ergebnisPartei.prozent" [animate]="true"></progressbar>
                </div>
            </div>
        </div>

        <div class="list-group mt-5 mb-3">
            <div *ngFor="let these of thesen; let index = index" class="list-group-item list-group-item-action d-flex" (click)="zeigeThese(these)">

                <div class="flex-fill">
                    <strong>These {{ index+1 }}/{{ thesen.length }} <fa-icon *ngIf="these.doppeltGewertet" [icon]="['fas', 'heart']"></fa-icon></strong><br>
                    {{ these.text }}
                </div>

                <fa-icon *ngIf="these.wertung === 'ja'" class="align-self-center text-success ml-3" [icon]="['far', 'smile']" size="2x"></fa-icon>
                <fa-icon *ngIf="these.wertung === 'neutral'" class="align-self-center text-warning ml-3" [icon]="['far', 'meh']" size="2x"></fa-icon>
                <fa-icon *ngIf="these.wertung === 'nein'" class="align-self-center text-danger ml-3" [icon]="['far', 'frown']" size="2x"></fa-icon>

            </div>
        </div>

        <button type="button" class="btn btn-outline-primary" (click)="neustart()"><fa-icon [icon]="['fas', 'redo']"></fa-icon> Thesen-Check neu starten</button>

    </div>

</div>
