<div class="py-3 py-md-5">

    <div class="mb-3">
        <a class="btn btn-link" [routerLink]="'/'"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon> Zurück zur Startseite</a>
    </div>

    <h5>OK Lab Magdeburg</h5>
    <p>Der Magd-O-Mat wurde von Mitgliedern des <a href="https://codefor.de/magdeburg/">Open Knowledge Lab Magdeburg</a> entwickelt.</p>

    <h5>Netz39 e.V.</h5>
    <p>Die Projekte des OK Labs werden unterstützt vom <a href="http://www.netz39.de" target="_blank">Netz39 e.V. - Hackerspace Magdeburg</a>.</p>

<!--
    <h5>Teilnehmende Verbände und Organisationen</h5>
    <ul>
        <li>...</li>
        <li>...</li>
        <li>...</li>
        <li>tbd</li>
    </ul>
-->

    <h5>Danksagungen</h5>
    <p>Für Ideen und Marketing-Support: <a href="https://lka-agentur.de/" target="_blank">LKA - Agentur für Leistung und Kreativität</a></p>
    <p>Für Inspiration und Hilfetexte: <a href="http://www.frankfurterjugendring.de" target="_blank">Frankfurter Jugendring</a> und <a href="http://www.opendatal.de/" target="_blank">Opendatal - OpenData Initiative Wuppertal</a></p>
    <p>Für Räumlichkeiten: <a href="https://www.facebook.com/intakt28/" target="_blank">[in:takt]</a></p>

</div>
