<div class="py-3 py-md-5">

    <div class="mb-3">
        <a class="btn btn-link" [routerLink]="'/'"><fa-icon [icon]="faArrowLeft"></fa-icon> Zurück zur Startseite</a>
    </div>

    <h5>Wer steckt hinter dem MAGD-O-MAT?</h5>
    <p>
        Der MAGD-O-MAT wurde von den Mitgliedern des <a href="http://codefor.de/magdeburg" target="_blank">Open Knowledge Lab Magdeburg</a> erarbeitet.
    </p>
    <p>
        Im Open Knowledge Lab Magdeburg sind Leute aus Magdeburg und Umgebung aktiv, die mit Hilfe von Code und Offenen Daten Gutes für Magdeburg und die Region tun wollen. Jede und jeder mit Interesse, Energie und Ideen darf mitmachen. Das OK Lab Magdeburg wird vom Netz39 e.V. unterstützt und ist Teil der "Code for Germany" Initiative der <a href="http://www.okfn.de" target="_blank">Open Knowledge Foundation Deutschland e.V.</a>
    </p>
    <p>
        Das Projekt gehört zum <a href="http://www.netz39.de" target="_blank">Netz39 e.V. - Hackerspace Magdeburg</a>. Der Hackerspace Netz39 ist Anlaufpunkt für Mitglieder und Interessierte, die sich zu informationsverarbeitenden Technologien und deren Bedeutung austauschen wollen. In den Räumlichkeiten gibt es Technik und Know-How um eigene technische und künstlerische Projekte umzusetzen. Beispiele dafür sind das freie WLAN "Freifunk Magdeburg" und das Open Knowledge Lab Magdeburg. Im Netz39 gibt es regelmäßig Workshops zu unterschiedlichsten, meist technischen Themen.
    </p>
    <p>
        Außerdem haben die folgenden Institutionen das Projekt unterstützt:
    </p>
    <ul>
        <li><a href="https://www.miteinander-ev.de/" target="_blank">Miteinander - Netzwerk für Demokratie und Weltoffenheit in Sachsen-Anhalt e.V.</a> (Beratung und Funding)</li>
        <li><a href="https://lka-agentur.de/" target="_blank">LKA - Agentur für Leistung und Kreativität</a> (Ideen und Marketing-Support)</li>
        <li><a href="https://www.magdeburg.de/" target="_blank">Landeshauptstadt Magdeburg</a> (Förderung)</li>
        <li><a href="https://https://www.demokratie-leben.de/" target="_blank">Bundesministerium für Familie, Senioren, Frauen und Jugend</a> (Förderung im Rahmen des Bundesprogramms "Demokratie leben!")</li>
        <li><a href="https://www.facebook.com/intakt28/" target="_blank">[in:takt]</a> (für Räumlichkeiten)</li>
        <li><a href="http://www.frankfurterjugendring.de" target="_blank">Frankfurter Jugendring</a> und <a href="http://www.opendatal.de/" target="_blank">Opendatal - OpenData Initiative Wuppertal</a> (Inspiration und Hilfetexte)</li>
    </ul>

    <h5>Wie sind die Thesen entstanden?</h5>
    <p>
        Im Projekt-Tagebuch kann man nachlesen, wie genau diese Seite entstanden ist.
    </p>
    <p>
        Unter anderem über Twitter und die Magdeburger Volksstimme haben wir Bürger*innen und Interessenvertreter*innen aus Vereinen und Initiativen dazu aufgerufen, ihre Wunsch-Thesen einzureichen.
    </p>
    <p>
        Bis zum 16. März 2019 sind 185 Vorschläge über unsere Webseite oder per E-Mail eingesendet worden. Das Projektteam hat diese gesichtet und anhand verschiedener Kategorien geordnet. Dabei wurden einige besonders häufig genannte Themen schnell sichtbar und entsprechend umfassend berücksichtigt. Wir haben Thesen zusammengefasst und unter Betrachtung der Interessen verschiedener Bevölkerungsgruppen ausgewählt. Dabei waren wir bemüht, eigene Interessen in den Hintergrund zu stellen und uns in die unterschiedlichen Menschen Magdeburgs hineinzuversetzen. Zum Beispiel waren Alter, Geschlecht, Religion, Familienstand, Bildungsniveau und Einkommen dabei zugrunde liegende Kriterien.<br>
        Am Ende wurden die Thesen nach einem einheitlichen Sprachschema formuliert.
    </p>

    <h5>Wie kann ich das Projekt bzw. das OK Lab Magdeburg unterstützen?</h5>
    <p>
        Du kannst die Webseite <a href="http://www.magdeburg-waehlt.de">www.magdeburg-waehlt.de</a> bzw. das Projekt bewerben, indem Du zum Beispiel darüber berichtest oder den Link zur Webseite mit der Familie und Freunden oder auf sozialen Netzwerken teilst.
    </p>
    <p>
        Das Open Knowledge Lab Magdeburg ist Teil des <a href="http://www.netz39.de">Netz39 e.V. - Hackerspace Magdeburg</a>. Es ist für Projekte wie diese auf externe Finanzierungsquellen angewiesen. Daher freuen wir uns sehr über Spenden. Als anerkannter, gemeinnütziger Verein kann der Netz39 e.V. Spendenquittungen ausstellen. Bitte trage dafür bei der Überweisung einfach Deine Adresse im Verwendungszweck ein.
    </p>
    <p>
        Spendenkonto:<br>
        <br>
        Kontoinhaber: Netz 39 e.V.<br>
        IBAN: DE71 8109 3274 0001 4424 81<br>
        BIC: GENODEF1MD1<br>
        Verwendungszweck: "Spende OK Lab Magdeburg"
    </p>

    <h5>Kann ich den Quelltext einsehen?</h5>
    <p>
        Natürlich. Der Code des MAGD-O-MAT steht unter der GNU General Public License v3.0 und ist auf <a href="https://github.com/code-for-magdeburg/Magd-O-Mat" target="_blank">Github</a> verfügbar.
    </p>

</div>
