<header class="text-center p-3 p-md-5 bg-body-tertiary">
  <a class="h1 d-block text-uppercase text-primary text-decoration-none main-title" routerLink="/">MAGD-O-MAT</a>
  <h5 class="text-secondary">Der Thesen-Check zur Kommunalwahl in Magdeburg</h5>
</header>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<footer class="text-center p-3 bg-body-tertiary mt-auto">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a [routerLink]="'/ueber-uns'" class="nav-link px-2 text-body-secondary">Über uns</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'/hilfe'" class="nav-link px-2 text-body-secondary">Hilfe</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'/impressum'" class="nav-link px-2 text-body-secondary">Impressum</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/thesen-check', '2019-kwmd']" class="nav-link px-2 text-body-secondary">Kommunalwahl 2019</a>
    </li>
  </ul>
</footer>
