
<header class="text-center p-3 p-md-5 bg-light">
<!--
    <img src="/assets/img/Logo-OttoLebtDemokratie.jpg" style="height: 88px; margin-right: -70px;" class="d-none d-md-inline float-left">
    <img src="/assets/img/Logo-BMFSFJ_DL.jpg" style="height: 88px; margin-left: -297px;" class="d-none d-md-inline float-right">
-->
    <h1 class="text-uppercase text-primary" style="font-family: 'Permanent Marker';">MAGD-O-MAT</h1>
    <h5 class="text-secondary">Der Thesen-Check zur Kommunalwahl 2019 in Magdeburg</h5>
</header>

<main role="main" class="container">
    <router-outlet></router-outlet>
</main>

<footer class="text-center p-3 bg-light mt-5">

    <div class="bg-white ml-n3 mt-n3 mr-n3 d-none d-md-block" style="height: 60px;">
        <a href="http://www.netz39.de/" target="_blank" class="ml-0 ml-md-5"><img src="/assets/img/Logo-Netz39_BW.png" style="height: 50px;"></a>
        <a href="https://codefor.de/magdeburg" target="_blank" class="ml-3 ml-md-5"><img src="/assets/img/Logo-CodeForDE_BW.jpg" style="height: 50px;"></a>
        <a href="http://mrappware.de/" target="_blank" class="ml-3 ml-md-5"><img src="/assets/img/Logo-MrAppWare_BW.png" style="height: 50px;"></a>
        <a href="https://lka-agentur.de/" target="_blank" class="ml-3 ml-md-5"><img src="/assets/img/Logo-LKA_BW.png" style="height: 50px;"></a>
        <a href="https://miteinander-ev.de/" target="_blank" class="ml-3 ml-md-5"><img src="/assets/img/Logo-Miteinander_BW.png" style="height: 50px;"></a>
        <a href="https://www.magdeburg.de/" target="_blank" class="ml-3 ml-md-5"><img src="/assets/img/Logo-OttoLebtDemokratie.jpg" style="height: 50px;"></a>
        <a href="https://www.demokratie-leben.de/" target="_blank" class="ml-3 ml-md-5"><img src="/assets/img/Logo-BMFSFJ_DL.jpg" style="height: 50px;"></a>
    </div>

    <div class="bg-white ml-n3 mt-n3 mr-n3 d-md-none" style="height: 120px;">
        <a href="http://www.netz39.de/" target="_blank" class="ml-0 ml-md-5"><img src="/assets/img/Logo-Netz39_BW.png" style="height: 50px;"></a>
        <a href="https://codefor.de/magdeburg" target="_blank" class="ml-2 ml-md-5 d-none d-md-block"><img src="/assets/img/Logo-CodeForDE_BW.jpg" style="height: 50px;"></a>
        <a href="http://mrappware.de/" target="_blank" class="ml-2 ml-md-5 d-none d-md-block"><img src="/assets/img/Logo-MrAppWare_BW.png" style="height: 50px;"></a>
        <a href="https://lka-agentur.de/" target="_blank" class="ml-2 ml-md-5"><img src="/assets/img/Logo-LKA_BW.png" style="height: 50px;"></a>
        <a href="https://miteinander-ev.de/" target="_blank" class="ml-3 ml-md-5"><img src="/assets/img/Logo-Miteinander_BW.png" style="height: 50px;"></a>
        <a href="https://www.magdeburg.de/" target="_blank" class="ml-2 ml-md-5"><img src="/assets/img/Logo-OttoLebtDemokratie.jpg" style="height: 50px;"></a>
        <a href="https://www.demokratie-leben.de/" target="_blank" class="ml-2 ml-md-5"><img src="/assets/img/Logo-BMFSFJ_DL.jpg" style="height: 50px;"></a>
    </div>


    <ul class="list-inline mb-0 mt-3">
        <li class="list-inline-item mr-3"><a [routerLink]="'/ueber-uns'">Über uns</a></li>
        <li class="list-inline-item ml-3 mr-3"><a [routerLink]="'/tagebuch'">Tagebuch</a></li>
        <li class="list-inline-item ml-3 mr-3"><a [routerLink]="'/hilfe'">Hilfe</a></li>
        <li class="list-inline-item ml-3"><a [routerLink]="'/impressum'">Impressum</a></li>
    </ul>

</footer>
