<div class="py-3 py-md-5">

    <div class="mb-3">
        <a class="btn btn-link" [routerLink]="'/'"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon> Zurück zur Startseite</a>
    </div>

    <h6 class="text-muted">Dezember 2018</h6>
    <h5>Eine Idee wird geboren: Der MAGD-O-MAT entsteht</h5>
    <p>
        Wer hat sie nicht, die guten Neujahresvorsätze? Auch die Mitglieder des OK Lab Magdeburg sind da keine Ausnahme. In einem neuen Projekt sollen Politik und Programmieren miteinander verbunden werden. Was liegt da näher als eine Aktion zur im Mai stattfindenden Kommunalwahl?! Und so ward die Idee zum MAGD-O-MAT geboren. Wie der bekannte Wahl-O-Mat soll die Anwendung den Magdeburger*innen eine Orientierung für die kommende Kommunalwahl geben.
    </p>

    <hr>

    <h6 class="text-muted">Januar 2019</h6>
    <h5>Die Projektplanung beginnt, Programmierung läuft  </h5>
    <p>
        Nun galt es die Idee umzusetzen. Welche Schritte würden nötig sein, um am Ende den MAGD-O-MAT tatsächlich „auf den Markt“ bringen zu können? Wie genau soll er aussehen? Welche Inhalte und Funktionen soll er haben? Und wie werden diese generiert? Das Programmieren der Anwendung beginnt.
        <img class="my-2 d-none d-sm-block" style="width: 25%;" src="/assets/img/tagebuch/Tagebuch-Januar-2019-01.png">
        <img class="my-2 d-sm-none d-block" style="width: 50%;" src="/assets/img/tagebuch/Tagebuch-Januar-2019-01.png">
    </p>

    <hr>

    <h6 class="text-muted">Februar 2019</h6>
    <h5>Das Projekt bekannt machen: Projektteam und breite Partizipation</h5>
    <p>
        Wem nützt, die coolste Anwendung, wenn niemand sie kennt?! Weil dies auch für den MAGD-O-MAT gilt, haben wir uns im Februar auf die Suche nach Unterstützer*innen gemacht. Über Pressearbeit und soziale Medien haben wir neue Mitstreiter*innen gesucht und nach Unterstützung Ausschau gehalten.
    </p>
    <p>
        Doch nicht nur das Projektteam sollte mitbestimmen, wie der MAGD-O-MAT auszusehen hat. Am Herzstück – den Thesen – wollten wir möglichst viele Menschen beteiligen. So riefen wir unter anderem in der Dates, der Volksstimme und bei Twitter alle Magdeburger*innen auf, uns bis Mitte März Thesenvorschläge zu schicken.
        <img class="mw-100 my-2 d-block" src="/assets/img/tagebuch/Tagebuch-Februar-2019-01.jpg">
    </p>

    <hr>

    <h6 class="text-muted">März 2019</h6>
    <h5>Thesen sammeln, sichten, sortieren, auswählen und an Parteien versenden</h5>
    <p>
        Bis Mitte März konnten alle Bürger*innen, Vereine und Initiativen ihre Thesenvorschläge über die Webseite einreichen. Das Ergebnis: 185 Einsendungen, darunter sehr viele zum Thema Verkehr. Offensichtlich bewegt die Magdeburger vor allem die Frage, wie sie sich in der Stadt fortbewegen können.
        <img class="mw-100 my-2 d-block" src="/assets/img/tagebuch/Tagebuch-Maerz-2019-02.jpg">
    </p>
    <p>
        Gemeinsam mit Interessierten haben wir alle Vorschläge gesichtet und in Kategorien geordnet. Wir haben ähnliche Thesen zusammengefasst und ein buntes Spektrum ausgewählt. Dabei waren wir bemüht, eigene Interessen in den Hintergrund zu stellen und uns in die unterschiedlichen Menschen Magdeburgs hineinzuversetzen. Alter, Geschlecht, Religion, Familienstand, Bildungsniveau und Einkommen waren dabei zugrunde liegende Kriterien. Am Ende haben wir den Thesen einen letzten sprachlichen Feinschliff gegeben.
        <img class="mw-100 my-2 d-block" src="/assets/img/tagebuch/Tagebuch-Maerz-2019-03.jpg">
    </p>
    <p>
        Damit ist die Hauptaufgabe getan. Nun sind die Parteien dran. Wir haben den Aufruf zur Positionierung an alle Parteien gesendet, die bisher ihre Kandidatur bekannt gegeben haben. Bis zum 14. April 2019 haben sie die Möglichkeit zu den Thesen Stellung zu beziehen.
        <img class="mw-100 my-2 d-block" src="/assets/img/tagebuch/Tagebuch-Maerz-2019-01.jpg">
    </p>

    <hr>

    <h6 class="text-muted">April 2019</h6>
    <h5>Geschafft: Der MAGD-O-MAT kann online gehen!</h5>
    <p>
        Wir sind positiv überrascht über das Feedback der Parteien. Schon einige Tage vor Ablauf der Frist erreichten uns viele Antworten der Parteien. Bis auf die Magdeburger Gartenpartei haben alle anderen zur Wahl stehenden Parteien zu unseren Thesen Stellung genommen. Die Antworten haben wir entsprechend eingepflegt und der Anwendung den letzten Schliff gegeben.
        <img class="mw-100 my-2 d-block" src="/assets/img/tagebuch/Tagebuch-April-2019-01.jpg">
    </p>
    <p>
        Damit auch möglichst viele Menschen vom MAGD-O-MATen erfahren, haben wir MDR Sachsen-Anhalt und der Volksstimme Interviews gegeben. Außerdem werden wir Flyer in der Stadt verteilen.
    </p>
    <p>
        Wir freuen uns auf möglichst viele Besucher*innen, die den MAGD-O-MATen ausprobieren.
    </p>

</div>
