<div class="modal-header">
  <h5 class="modal-title">These {{ theseIndex + 1 }}</h5>
  <button type="button" class="btn-close float-end" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body pt-0">

  <h5 class="m-3 m-md-5 text-center">{{ these.text }}</h5>

  <span class="text-muted small">Deine Wertung:</span>
  <fa-icon *ngIf="theseEingabe.wertung === 'ja'" class="text-success ms-2" [icon]="faSmile"></fa-icon>
  <fa-icon *ngIf="theseEingabe.wertung === 'neutral'" class="text-warning ms-2" [icon]="faMeh"></fa-icon>
  <fa-icon *ngIf="theseEingabe.wertung === 'nein'" class="text-danger ms-2" [icon]="faFrown"></fa-icon>
  <span *ngIf="theseEingabe.wertung === 'ohne'" class="text-muted ms-2">-</span>
  <fa-icon
    *ngIf="theseEingabe.doppeltGewertet && theseEingabe.wertung !== 'ohne'"
    class="text-muted ms-2"
    [icon]="faHeart"
  ></fa-icon>

  <div class="list-group list-group-flush mt-3">
    <div *ngFor="let partei of parteien; let index = index" class="list-group-item px-0">

      <div class="d-flex flex-row">
        <img class="img-thumbnail float-start partei-thumbnail" [src]="getParteiLogo(wahlSlug, partei)">

        <span class="flex-fill align-self-center ms-3 my-0">{{ partei.nameLang }}</span>

        <fa-icon
          *ngIf="partei.thesen[theseIndex].wertung === 'ja'"
          class="align-self-center text-success ms-3"
          [icon]="faSmile" size="2x"
        ></fa-icon>
        <fa-icon
          *ngIf="partei.thesen[theseIndex].wertung === 'neutral'"
          class="align-self-center text-warning ms-3"
          [icon]="faMeh" size="2x"
        ></fa-icon>
        <fa-icon
          *ngIf="partei.thesen[theseIndex].wertung === 'nein'"
          class="align-self-center text-danger ms-3"
          [icon]="faFrown" size="2x"
        ></fa-icon>
      </div>

      <div>
        <button
          *ngIf="partei.thesen[theseIndex].begruendung; else keineBegruendung"
          class="btn btn-sm btn-link px-0"
          (click)="isCollapsed[index] = !isCollapsed[index]"
        >
          {{ isCollapsed[index] ? 'Begründung einblenden' : 'Begründung ausblenden' }}
        </button>
        <div [collapse]="isCollapsed[index]" [isAnimated]="true">
          <blockquote class="blockquote">
            <p>"{{ partei.thesen[theseIndex].begruendung }}"</p>
          </blockquote>
        </div>
        <ng-template #keineBegruendung>
          <span class="text-muted small py-1">Keine Begründung vorhanden</span>
        </ng-template>
      </div>

    </div>
  </div>

</div>
