/* You can add global styles to this file, and also import other style files */

/* permanent-marker-regular - latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/permanent-marker-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'),
  url('assets/fonts/permanent-marker-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/permanent-marker-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/permanent-marker-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/permanent-marker-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/permanent-marker-v7-latin-regular.svg#PermanentMarker') format('svg'); /* Legacy iOS */
}


html {
  height: 100%;
}

app-root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  _font-family: 'Permanent Marker';
}

header {
  grid-row: 1;
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
}
